body {
  display: inline;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
  font-family: 'Lexend Giga', sans-serif;
}

html {
  overflow-y: hidden;
}

.xyz:hover {
  transition-duration: 0.5s;
  background-color: lightblue;
}

.sbutton {
  margin-top: 5px;
  background-color: white;
  color: black;
}

.impa {
  color: white;
}

.sbutton:hover {
  margin-top: 5px;
  background-color: black;
  color: white;
  ;
}

.abcd {
  z-index: 4;
  margin: 0;
  width: 100%;
  background-color: rgb(16, 50, 105);
  position: relative;
}

h1 {
  font-family: 'Lexend Giga', sans-serif;
  color: #2E66AB;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  z-index: 4;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

body {
  margin: 0;
}

.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.form {
  z-index: 2;
}